@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@600&display=swap');
.img-prin{
    background-image: url(imagenes/fondo-trans.png);
    height: 400px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    background-color: #fcfcfc;
    position: relative;
}
.titulo-play{
    position: absolute;
    left: 70px;
    top: 90px;
    font-size: 35px;
}
.art{
    width: 70px;
}
.tam{
    margin: 0 auto;
    width: 50%;
    
}
.tam td{
    text-align: center;
}
.logo-cet {
    margin: auto;
    height: 100px;
    padding-top: 30px;
}
.cet-footer{
    height: 190px;
    background-color: rgba(157, 195, 218, 0.418)
}
footer p {
    text-align: center;
}
.letra{
    font-family: 'Noto Sans Mono', monospace;
}